---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Card from '../components/Card.astro';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
            <main>
                <h2 style="margin-bottom: 10%;">Projects:</h2>

                <ul role="list" class="link-card-grid">
                    <Card
                        href="https://arcane-mountain-92426.herokuapp.com/#/chores"
                        title="Chore Tracker"
                        body="Assign and track chores for your family scheduled on a recurring basis. A mobile first design, build with React, Redux, Node, Postgres, Express and MUI."
                        img="public/Screen Shot 2023-01-22 at 8.52.03 PM.png"
                    />
                    <Card
                        href="https://github.com/arcarey/Portfolio-site-astro"
                        title="Portfolio Web Site"
                        body="Check out the Github repo for the site you're viewing right now!"
                        img="public/Screen Shot 2023-01-22 at 8.56.50 PM.png"
                    />
                    <Card
                    href=""
                    title="Civicly"
                    body="A web app for communicating infrastructure needs to your city."
                    img="public/Screen Shot 2023-01-22 at 9.02.33 PM.png"
                />
                </ul>
            </main>
			
		</main>
		<Footer />
	</body>
</html>
